@import 'variables'

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body
  overflow-x: hidden
  width: 100vw
  height: 100vh
  font-size: 1rem
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: backgroundColor

.no-overflow
    overflow hidden

code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',

.section-title
  color: text-color

.app
  width: 100vw
  height: auto
  display: flex
  justify-content: center
  align-items: center
  padding: 0 1rem;

  .content
    width: 100%
    min-height: calc(100vh - (59px + 53px))
    max-width: 1200px
    padding: 2rem 0

    .form
      width: 100%
      height: auto
      display: flex;
      justify-content: center
      align-items: center
      flex-direction: column

      &.complete
        height calc(100vh - 11rem)

      &:focus-within
        .form-elements
          animation: pulse-disco 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
          border: solid 1px
          border-color: primary-color

          .input, .select, .button .icon
            color white

      .form-elements
        display: flex
        border: solid 1px background-color-accent
        width: 35rem
        border-radius: border-radius-elements
        box-shadow 0 0.25rem 0.25rem rgba(backgroundColor)

        .input
          width: 23rem
          height: 3rem
          border: solid 1px lightGrey
          padding: .5rem 0 .5rem 1.5rem
          background-color: background-color-accent;
          border-bottom-left-radius: border-radius-elements
          border-top-left-radius: border-radius-elements
          font-size: 1.5rem
          color: white
          border-color: background-color-accent
          border-right: unset
          transition: all .2s ease
          outline: none

        .select
          width: 8rem
          font-size: 1rem
          color: white
          padding: 0 .8rem
          color: disabled-text
          border: solid 1px
          border-left: unset
          border-right: unset
          outline: unset
          border-color: background-color-accent;
          background-color: background-color-accent;
          transition: all .2s ease

        .button
          cursor: pointer
          width: 4rem
          display: flex
          align-items: center
          justify-content: center
          background-color: background-color-accent
          border: solid 1px
          border-left: unset
          border-color: background-color-accent
          border-top-right-radius: border-radius-elements
          border-bottom-right-radius: border-radius-elements
          transition: all .2s ease

          &:hover
            background-color: rgba(background-color-accent, .4)

          &:focus
            outline: unset

          .icon
            font-size: 1.5rem
            color: disabled-text

      .welcome-text
        width: 35rem
        color: white
        margin-top: 1rem
        text-align: center

        &.hide-welcome
          display: none

        &.info-text
          color: secondary-color

@keyframes pulse-disco
  0%
    box-shadow 0 0 0.25rem rgba(primary-color, 1)
  25%
    box-shadow 0 .25rem .25rem rgba(secondary-color, 1)
  50%
    box-shadow 0 0 0.25rem rgba(primary-color-hover, 1)
  75%
    box-shadow 0 .25rem 0.25rem rgba(third-color, 1)
  100%
    box-shadow 0 0 0.25rem rgba(secondary-color-hover, 1)

@media (max-width: 414px)
  .app .content .form
    .form-elements
      width: 100%

      .input
        width: 100%
        max-width: 100%

      .select
        display: none

    .welcome-text
      width: 100%