// APP colors
primary-color = #49a5bf
primary-color-hover = #71b9cd
secondary-color = #008441
secondary-color-hover = #18a55d
warning = #d88c1f
warningHover = #F5AD45
danger = #FD5B77
dangerHover = #ff778e

// Grey scale
titles = #a2a2a2
backgroundColor = #e8e8e8
$dark-grey = #334150
darkGreyHover = #566d86
lightGrey = #f3f3f3
$grey = #D5DFE7
mediumGrey = #7F8FA4

// Sizes
border-radius-containers = 0.4rem
border-radius-elements = 4rem