// APP colors
primary-color = black
primary-color-hover = #de499c
secondary-color = #c54426
secondary-color-hover = #da583a
third-color = #4462de
third-color-hover = #526fe8

// Grey scale
text-color = #D0D1D4
disabled-text = #757575
backgroundColor = #2d3250
background-color-accent = #181B2C

// Sizes
border-radius-containers = 0.4rem
border-radius-elements = 4rem