// APP colors
primary-color = #D9519D
primary-color-hover = #d960a4
secondary-color = #ED8770
secondary-color-hover = #ec9986
third-color = #657DDF
third-color-hover = #7f93e1

// Grey scale
text-color = #D0D1D4
disabled-text = #757575
backgroundColor = #2d3250
background-color-accent = #181B2C

// Sizes
border-radius-containers = 0.4rem
border-radius-elements = 4rem