@import 'styles/variables'

.footer
  width: 100%
  display: flex
  justify-content: center
  background-color: background-color-accent
  padding: 1rem 1rem

  .footer-content
    width: 100%
    max-width: 1200px
    color: text-color
    font-size: 1rem