@import "styles/variables"

.genres-list
  display: flex
  flex-flow: row wrap
  list-style: none

  .genre
    cursor: pointer
    height: 1.8rem
    display: flex
    align-items: center
    border-radius: border-radius-elements
    padding: .1rem .8rem
    margin-right: .4rem
    text-align: center
    color: white
    border: unset

    &:nth-child(1n+0)
      background-color: third-color
      &:hover
        background-color: third-color-hover

    &:nth-child(2n+0)
      background-color: secondary-color
      &:hover
        background-color: secondary-color-hover

    &:nth-child(3n+0)
      background-color: primary-color
      &:hover
        background-color: primary-color-hover

@media (max-width: 414px)
  .genres-list .genre
    margin-bottom: .4rem
