@import 'styles/variables'
  
.header
  width: 100vw
  height: auto
  display: flex;
  justify-content: center
  background-color: white
  padding: 0.5rem 1rem
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2)

  .header-content
    width: 100%
    max-width: 1200px
    height: auto
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr))

    .site-title
      color: $dark-grey