@import 'styles/variables'
  
.header
  width: 100vw
  height: auto
  display: flex;
  justify-content: center
  background-color: background-color-accent
  padding: 0.5rem 1rem

  .header-content
    width: 100%
    max-width: 1200px
    height: auto
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr))

    .site-title
      color: text-color