@import "styles/variables"

.lyric-wrapper
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  opacity: 0
  z-index: -1
  transition: all .6s ease
  background-color: rgba(backgroundColor, .7)

  &.show-lyric-container
    opacity: 1
    z-index: 1

  .lyric-container
    position: relative
    top -100vh
    width: 100%
    max-width: 40rem
    min-height: 15rem
    padding: 2rem
    overflow-y: auto
    background-color: background-color-accent
    border-radius: border-radius-containers
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55)

    &.show-lyric-container
      top 0

    .close-lyric
      cursor: pointer
      position: absolute
      top: 1rem
      right: 1rem
      color: white
      font-size: 2rem

    .lyric-body
      height: auto
      color: white
    
    .lyric-message
      height: 15rem
      display: flex
      justify-content: center
      align-items: center
      color: white
