@import "styles/variables"

.pill
  cursor: pointer
  height: 1.8rem
  border-radius: border-radius-elements
  padding: .1rem .8rem
  margin-right: .4rem
  text-align: center
  color: white
  margin-bottom: .4rem

  &:nth-child(1n+0)
    background-color: third-color
    &:hover
      background-color: third-color-hover

  &:nth-child(2n+0)
    background-color: secondary-color
    &:hover
      background-color: secondary-color-hover

  &:nth-child(3n+0)
    background-color: primary-color
    &:hover
      background-color: primary-color-hover