@import 'styles/variables'

.track-wrapper
  width: 100%
  height auto
  animation: 1s ease backwards pulse

  .cover
    position: relative
    cursor: pointer
    display: flex
    flex-direction: column
    align-items: center
    padding: 2.5rem 1.5rem 1rem
    background-color: rgba(0, 0, 0, 0.4)
    border-radius: border-radius-containers
    margin-bottom: 0.3rem
    transition: background-color 0.2s ease

    &:hover
      animation: .5s ease backwards jump
      background-color: rgba(0, 0, 0, 0.5)

      >.icon-lyric
        color: primary-color

    .icon-lyric
      font-size: 3.5rem
      color: white
      margin-bottom: 1rem
      transition: color 0.2s ease

    .track-title
      width: 100%
      font-size: 1.5rem
      background: linear-gradient(90deg, #ED8770, #D9519D)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      margin-bottom: unset
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      text-align: center

    .rating
      position: absolute
      top: .8rem
      right: 1rem
      display: flex
      align-items: center

      .icon-stars
        color: yellow
        margin-right: .3rem

      .rating-score
        color: white

  .track-info
    display: flex
    flex-direction: column

    .artist
      color: white
      margin-bottom: .5rem

    .genres-track
      display: flex
      flex-flow: row wrap

      span
        margin-bottom: .3rem

for index in (1..13)
  .track-wrapper
    &:nth-child({index})
      animation-delay: index * (1s / 18)

@keyframes pulse
  0%
    opacity: 0
    z-index: -1
    transform: scale(1)

  25%
    transform: scale(1.030)

  50%
    opacity: 1
    z-index: 1
    transform: scale(1)

@keyframes jump
  0%
    transform: scale(1)

  25%
    transform: scale(1.030)

  50%
    transform: scale(1)

  100%
    transform: scale(1.030)
