@import "styles/variables"

.genres-wrapper
  display: flex
  margin-bottom: 2rem

  .genres
    display: flex
    padding-left: 2rem

.tracks-grid  
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr))
  grid-column-gap: 2rem
  grid-row-gap: 2rem

